---
version: '3'
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
    volumes:
      - {{ root_dir }}/prowlarr/config:/config
    ports:
      - 127.0.0.1:9696:9696
    restart: unless-stopped
    networks:
      - arrnet
networks:
  arrnet:
    name: arrnet
    external: true
